zerrusen-ear-corn-prototype.zip
node_modules/
**/node_modules/
.env
.env.*
!.env.example
!**/.env.example
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
admin-config.local.js
dist/
